@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #101;
    background-image: radial-gradient(ellipse at top, #302050 0%, #090011 90%);
    background-attachment: fixed;
    min-height: 100vh;
}